*~
*.out
*.log
*.old
*.aux
*temp*
*diary*
*Broken*
*debug*
lib
obj/*   
bin/*
log/*
src/_mplSWIG.so
*_wrap*
src/mplSWIG.py
*.o
*.pyc
*foo*
*checkpoints
build
install
html
latex
Tutorial/Data/Out/*
larc/*
local/Makefile.conf
FFT_play/StrategyExperiments/MatricesDFT/*
